<div class="rounded-card m-b-05">
  <div class="flex-center-center m-b-05 gap-05">
    <h1 class="fs-large">Mis publicaciones</h1>
    <a mat-icon-button class="text-blue" aria-label="Crear publicación"
      [routerLink]="['/posts/create']">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div class="text-center fw-500 m-b-05">
    <p *ngIf="!stats?.posts?.value">
      Anímante, crea un publicación y comparte con la comunidad! 🙌
    </p>
    <p *ngIf="stats?.posts?.value && !stats?.views?.value">
      Haz creado
      <span class="text-{{ stats?.posts?.color }} fw-600">
        {{ stats?.posts?.value }} publicaciones
      </span>
      , gracias por ayudar a la comunidad, sigue así! 🎈
    </p>
    <p *ngIf="stats?.posts?.value && stats?.views?.value">
      En total, tus
      <span class="text-{{ stats?.posts?.color }} fw-600">
        {{ stats?.posts?.value }} publicaciones
      </span>
      han sido
      <span class="text-{{ stats?.views?.color }} fw-600">
        vistas {{ stats?.views?.value }} veces
      </span>
      <span *ngIf="stats?.likes?.value">
        y han tenido
      </span>
      <span *ngIf="stats?.likes?.value" class="text-{{ stats?.likes?.color }} fw-600">
        {{ stats?.likes?.value }} me gusta
      </span>
      , gracias por ayudar a la comunidad, sigue así 🎈
    </p>
  </div>
  <div class="flex-center-center gap-07">
    <div class="flex-column-center text-center" *ngFor="let stat of stats | keyvalue">
      <ng-container *ngIf="stat.key !== 'posts'">
        <div class="flex-center-center">
          <span class="fs-large fw-600">{{ stat.value.value }}</span>
          <mat-icon class="text-{{ stat.value.color }}">{{ stat.value.icon }}</mat-icon>
        </div>
        <span class="fs-regular fw-500">{{ stat.value.text }}</span>
      </ng-container>
    </div>
  </div>
</div>