:host {
    display: block;

    background-image: url('/assets/images/bg-desktop-light-purple.png');
    background-size: contain;
    // background-attachment: fixed;

    padding: 4rem 4rem 1rem 4rem;
    
    min-height: calc(100% - 4rem - 1rem); // 4rem = navbar height
}

.main {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.card {
    mat-card-title {
        margin: 1rem 0;
    }

    form {
        max-width: 50rem;
    }
}

.back-button {
    margin-bottom: 0.5rem;
}

.title-field, .select-field {
    width: 100%;
}

.description-textarea {
    width: 100%;
}

.document {
    background-color: #e9e9e9;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;

    font-weight: 500;

    cursor: pointer;

    user-select: none;

    > span {
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
}

.download-button {
    border-radius: 30px;
    min-width: 83px;
}

.pdf-style {
    color: var(--light-text);
    background-color: var(--warn-color);
}
.doc-style {
    color: var(--light-text);
    background-color: var(--primary-color);
}
.ppt-style {
    color: var(--light-text);
    // TODO: Find orange color
    background-color: var(--accent-color);
}
.xls-style {
    color: var(--light-text);
    // TODO: Find green light color
    background-color: var(--green-dark-color);
}

// Mobile
@media (max-width: 48rem) {
    :host {
        padding: 4rem 1rem 1rem 1rem;
    }

    .main {
        flex-direction: column;
        
        mat-card {
            width: auto;
        }
    }
}

.documents-shimmer {
    flex-grow: 0.6;
}

// Tablet and mobile
@media (max-width: 62rem) {
    .main {
        flex-direction: column;
    }

    .document {
        cursor: none;

        > span {
            max-width: 21ch;
        }
    }
}