// Rounded button
.rounded-button {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    border: none;
    border-radius: 100em;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    transition-property: transform, opacity, background-color;
    transition-duration: .25s, .25s, .25s;
}

.circle-button {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    border: none;
    border-radius: 100em;
    padding: .5em 1em;
    display: grid;
    place-items: center;
    gap: .5rem;

    transition-property: transform, opacity, background-color;
    transition-duration: .25s, .25s, .25s;
}

.rounded-button:hover:not(:disabled),
.circle-button:hover:not(:disabled) {
    transform: translateY(-.5px);
}

.rounded-button:active:not(:disabled),
.circle-button:active:not(:disabled) {
    transform: translateY(2px);
}

.rounded-button:disabled,
.circle-button:disabled {
    background-color: rgba(0, 0, 0, .3);
    color: black;
}