// Rounded button
.rounded-button {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    border: none;
    border-radius: 100em;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    transition-property: transform, opacity, background-color;
    transition-duration: .25s, .25s, .25s;
}

.circle-button {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    border: none;
    border-radius: 100em;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    transition-property: transform, opacity, background-color;
    transition-duration: .25s, .25s, .25s;
}

.rounded-button:hover,
.circle-button:hover {
    transform: translateY(-.5px);
    opacity: .9;
}

.rounded-button:active,
.circle-button:active {
    transform: translateY(2px);
    opacity: 1;
}