.card {
    // background-color: var(--clr-background);
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: var(--shadow-md);
}

@media(min-width: 48rem)  {
    .card {
        padding: 2rem;
    }
}