.rounded-tag,
.rounded-tag--slime {
    text-decoration: none;
    border-radius: 100em;
    border: none;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.rounded-tag--slime {
    padding: .1em .5em;
}

.rounded-border-tag,
.rounded-border-tag--slime {
    text-decoration: none;
    border: 2px solid currentColor;
    border-radius: 100em;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.rounded-border-tag--slime {
    padding: .1em .5em;
}
