app-navigation-sidenav {
    ul {
        background-color: var(--dark-background);
        color: var(--light-text);

        min-height: 100%;

        list-style-type: none;
        
        padding: 0;
        margin: 0;
    }

    .menu-button {
        padding: 0.5em 0;
        width: 100%;
    }

    .mat-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
}