<header class="header bg-primary txt-on-primary container flex-between-center gap-1 p-y-1">
  <a class="a-style-none ft-medium" routerLink="/">Planishare</a>
  <button class="button-style-none toggle-nav txt-on-primary" (click)="navOpen = !navOpen" *ngIf="(desktop$|async)===false">
    <svg *ngIf="!navOpen" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M4 8l16 0" />
      <path d="M4 16l16 0" />
    </svg>
    <svg *ngIf="navOpen" class="txt-primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 6l-12 12"></path>
      <path d="M6 6l12 12"></path>
   </svg>
  </button>
  <nav class="nav container p-y-3 bg-on-primary txt-primary" [ngClass]="{'open': navOpen}">
    <ul class="ul-style-none flex-col flex-start-center gap-1" [ngClass]="(desktop$|async) ? 'ft-body' : 'ft-headline'">
      <li><a
        class="nav-link a-style-none"
        routerLink="/auth/register"
        routerLinkActive="active"
        (click)="navOpen=false">Registrarse</a></li>
      <li><a
        class="nav-link a-style-none"
        routerLink="/auth/login"
        routerLinkActive="active"
        (click)="navOpen=false">Iniciar sesión</a></li>
      <li><a
        class="nav-link a-style-none"
        routerLink="/user/profile"
        routerLinkActive="active"
        (click)="navOpen=false">Mi perfil</a></li>
      <li><a
        class="nav-link a-style-none"
        routerLink="/user/posts"
        routerLinkActive="active"
        (click)="navOpen=false">Mis publicaciones</a></li>
      <li><a
        class="nav-link a-style-none"
        routerLink="/posts/create"
        routerLinkActive="active"
        (click)="navOpen=false">Crear publicación</a></li>
      <li><a
        class="rounded-button"
        [ngClass]="(desktop$|async) ? 'bg-on-primary txt-primary' : 'bg-primary txt-on-primary'"
        routerLink="/posts"
        (click)="navOpen=false">Ver planificaciones</a></li>
    </ul>
  </nav>
</header>