<nav class="navbar">
    <button mat-raised-button [routerLink]="'/auth/register'">
        <mat-icon>person_add</mat-icon>
        Registrarse
    </button>
</nav>

<main class="main">
    <div class="logo">
      <button mat-raised-button [routerLink]="'/'">
        Planishare
      </button>
    </div>
    <div class="container">
        <mat-card class="card">
            <mat-card-title class="card-title">Iniciar sesión</mat-card-title>
            <div class="error-msg">
              <span *ngIf="wrongCredentials">Email o contraseña incorrectos</span>
            </div>
            <mat-card-content>
                <form class="form" [formGroup]="form" (ngSubmit)="loginWithEmailAndPassword($event)">
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput formControlName="email">
                      <mat-error *ngIf="emailControl?.invalid">{{ getEmailErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Contraseña</mat-label>
                      <input [type]="hidePassword? 'password' : 'text'" matInput formControlName="password">
                      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon *ngIf="hidePassword">visibility</mat-icon>
                        <mat-icon *ngIf="!hidePassword">visibility_off</mat-icon>
                      </button>
                      <mat-error *ngIf="passwordControl?.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                    </mat-form-field>

                    <div class="buttons">
                        <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">
                            <mat-icon>login</mat-icon>
                            Iniciar sesión
                        </button>
                        <app-square-loader *ngIf="isLoading"></app-square-loader>
                        <span>- o -</span>
                        <button mat-stroked-button type="button" (click)="loginWithGoogle()">
                            <mat-icon>login</mat-icon>
                            Continuar con google
                        </button>
                        <a class="forgot-password" (click)="openForgotPasswordDialog()">¿Olvidaste tu contraseña?</a>
                    </div>
                  </form>
            </mat-card-content>
        </mat-card>
    </div>
</main>