:host {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('/assets/images/bg-desktop-yellow.png');
    // background-size: cover;
    background-size: contain;
    background-attachment: fixed;

    background-position: left top; // mobile
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 100vh;
}

.container1, .container2 {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
}

.container1 {
    justify-content: flex-end;
}

.container2 {
    justify-content: center;
}

.logo {
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
    
    > button {
        background-color: var(--green-dark-color);

        font-size: clamp(2rem, 0.0000rem + 4.1667vw, 5rem);
        color: var(--light-text);
        
        padding: 0.5em 1em;
        border-radius: 15px;
        
        box-shadow: 0px 1px 3px #303030;
        font-weight: 500;
    }
}

.search-button {
    animation: animation1 1s;
}
@keyframes animation1 {
    33% {
      padding: 0.5em 1.1em;
      transform: rotate(-5deg);
    }
    66% {
      transform: rotate(5deg);
    }
  }

.subtitle1 {
    h2 {
        padding: 0.7em 0;
        background-color: rgba($color: #fafafa, $alpha: 0.3);
        text-align: center;
        font-weight: 500;
    }
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.scroll-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: 700;
}

.subtitle2 {
    margin: 0 1rem;
    
    h2 {
        backdrop-filter: blur(2px);
        background-color: rgba($color: #fafafa, $alpha: 0.3);
        
        padding: 0.5em;

        font-size: 1rem;
        line-height: 1.2;

        text-align: center;
        font-weight: 500;

    }
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 35rem));
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1.2rem 1.2rem 1.2rem;
}

.top-likes-header, .top-recent-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

    text-align: center;
    color: var(--light-text);

    border-radius: 5px;
    box-shadow: 0px 1px 3px #303030;

    padding: 1rem 0;
    margin-bottom: 0.5rem;

    h4 {
        font-size: 1rem;
        font-weight: 500;

        padding: 0;
        margin: 0;
    }
}

.top-likes-header {
    background-color: var(--warn-color);
}

.top-recent-header {
    background-color: var(--primary-color);
}

.ranking {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
        display: flex;
        align-items: center;
    }
}

.academic-level-tag, .subject-tag, .axis-tag{
    color: var(--light-text);
}

.academic-level-tag {
    background-color: var(--purple-color);
}

.subject-tag {
    background-color: var(--warn-color);
}

.axis-tag {
    background-color: var(--primary-color);
}

.reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;

    > div {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }
}