:host {
    display: flex;
    flex-direction: column;
    border-radius: 100px;
}

.rounded-button {
    justify-content: space-between;
    --p-y: .7em;
    --p-x: 1em;
    
    > span {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    > .mat-icon {
        min-width: fit-content;
    }
}

.hidden-select {
    width: 100%;
    height: 0;
    overflow: hidden;
}