.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;
}

@media (min-width: 64rem) {
    .container {
        flex-wrap: nowrap;
    }

    .post-filters-card {
        max-width: 320px;
        position: sticky;
        top: 70px;
    }
}
