.filters-card {
    background-color: hsl(var(--clr-grey-dark), .9);
    padding: .5rem 1rem;
}

.filters-card__button {
    width: 100%;
    padding: 0;
    --bg-color: transparent;
}

.filters-card__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-block: .75rem .25rem;
}

.mat-divider {
    border-color: hsl(var(--clr-white), .5)
}

.filters__selects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .7rem;
    font-weight: 500;
}

.reset-filters-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: transparent;
    padding: .5rem;
    border: 0;
    width: fit-content;
    align-self: flex-end;
    color: hsl(var(--clr-white));
    border-radius: 100px;

    .mat-icon {
        color: hsl(var(--clr-white));
    }
}

@media (min-width: 48rem) and (max-width: calc(64rem - 1px)) {
    .filters__selects {
        flex-direction: row;
        flex-wrap: wrap;

        > * {
            width: calc(50% - .35rem);
        }
    }
}