<h1 class="fs-large">Crear un reporte 🕵️</h1>
<p class="m-y-1">Completa los siguientes datos explicando el motivo de tu reporte y lo revisaremos a la brevedad.</p>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="createReport($event)">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>¿Qué quieres reportar?</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="reportType.POST">Reportar publicación</mat-option>
        <mat-option [value]="reportType.USER">Reportar usuario</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="20">
      </textarea>
      <mat-hint align="end">{{ form.controls.description.value?.length ?? 0 }} / 1000</mat-hint>
      <mat-error *ngIf="form.controls.description.invalid">
        Debes ingresar una descripción con menos de 1000 carácteres.
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div class="flex-end-center flex-wrap-reverse gap-05 m-t-1">
  <button mat-flat-button type="button" mat-dialog-close>
    Cancelar
  </button>

  <button mat-raised-button [color]="form.valid ? 'primary' : 'warn'" [disabled]="isLoading" type="submit">
    <span>Enviar reporte</span>
    <mat-icon class="fs-regular">send</mat-icon>
  </button>
</div>