// Inputs
.rounded-search-bar {
    background-color: hsl(var(--clr-white));
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 100px;
    padding-inline: 1em;

    input {
        border: 0;
        width: 100%;
        outline: none;
    }

    // Remove native "x"
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }
}