.shapes-loader {
    width: 2rem;
    height: 2rem;

    // Circle shape
    border-radius: 50%;
    background: hsl(var(--clr-purple-light));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    animation: shapes-loader 2.5s infinite cubic-bezier(0.3, 1, 0, 1);

    // Resets
    padding: 0 !important;
    > * {
        display: none !important;
    }
}

@keyframes shapes-loader {

    // Square
    33% {
        border-radius: 0;
        background: hsl(var(--clr-pink));
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    // Triangle
    66% {
        border-radius: 0;
        background: hsl(var(--clr-yellow-light));
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
        transform: rotate(360deg);
    }
}

// Loader from https://cssloaders.github.io/
#book-loader {
    height: 100vh;
    width: 100%;
    background-color: hsl(var(--clr-white-old));
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    span {
        --size: 1;
        width: calc(200px * var(--size));
        height: calc(140px * var(--size));
        background: hsl(var(--clr-grey-dark), .6);
        box-sizing: border-box;
        position: relative;
        border-radius: calc(8px * var(--size));
        perspective: calc(1000px * var(--size));
    }

    span:before {
        content: '';
        position: absolute;
        left: calc(10px * var(--size));
        right: calc(10px * var(--size));
        top: calc(10px * var(--size));
        bottom: calc(10px * var(--size));
        border-radius: calc(8px * var(--size));
        background: #fff no-repeat;
        background-size: calc(60px * var(--size)) calc(10px * var(--size));
        background-image: linear-gradient(#ddd calc(100px * var(--size)), transparent 0),
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0),
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0),
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0),
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0),
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0);
    
        background-position: calc(15px * var(--size)) calc(30px * var(--size)), calc(15px * var(--size)) calc(60px * var(--size)), calc(15px * var(--size)) calc(90px * var(--size)),
            calc(105px * var(--size)) calc(30px * var(--size)), calc(105px * var(--size)) calc(60px * var(--size)), calc(105px * var(--size)) calc(90px * var(--size));
        box-shadow: 0 0 calc(10px * var(--size)) rgba(0, 0, 0, 0.25);
    }
    
    span:after {
        content: '';
        position: absolute;
        width: calc(50% - calc(10px * var(--size)));
        right: calc(10px * var(--size));
        top: calc(10px * var(--size));
        bottom: calc(10px * var(--size));
        border-radius: calc(8px * var(--size));
        background: #fff no-repeat;
        background-size: calc(60px * var(--size)) calc(10px * var(--size));
        background-image:
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0),
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0),
            linear-gradient(#ddd calc(100px * var(--size)), transparent 0);
        background-position: 50% calc(30px * var(--size)), 50% calc(60px * var(--size)), 50% calc(90px * var(--size));
        transform: rotateY(0deg);
        transform-origin: left center;
        animation: paging 1s linear infinite;
    }
}

@keyframes paging {
    to {
        transform: rotateY(-180deg);
    }
}