<div>
  <span>Filtros y búsqueda</span>
</div>
<div>
  <input type="search" [formControl]="searchCtrl" (keyup.enter)="applyFilters()" placeholder="Buscar">
</div>

<div>
  <app-rounded-select
    label="Nivel académico"
    [control]="academicLevelCtrl"
    [options]="options?.academicLevel ?? []"
    [resetOption]="true"
    [search]="true"
    [loading]="!options?.academicLevel?.length">
  </app-rounded-select>
  
  <app-rounded-select
    label="Asignatura"
    [control]="subjectCtrl"
    [options]="options?.subject ?? []"
    [resetOption]="true"
    [search]="true"
    [loading]="!options?.subject?.length">
  </app-rounded-select>
  
  <app-rounded-select
    label="Axis"
    [control]="axisCtrl"
    [options]="options?.axis ?? []"
    [resetOption]="true"
    [search]="true"
    [loading]="!options?.axis?.length">
  </app-rounded-select>

  <app-rounded-select
    label="Orederar por"
    [control]="orderingCtrl"
    [options]="options?.ordering ?? []"
    [resetOption]="true"
    [search]="true"
    [loading]="!options?.ordering?.length">
  </app-rounded-select>

  <button (click)="applyFilters()">Aplicar</button>
  <button (click)="removeFilters()">Remover filtros</button>
</div>