:host {
    background-color: var(--clr-primary);
    padding: var(--container-space);
    padding-top: calc(var(--container-space)/3);
    border-radius: 20px 20px 0 0;

    position: fixed;
    bottom: -100%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: min-content;

    transition: bottom linear .2s;
}

:host.open {
    bottom: 0;
}

.filter-selects {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 48rem) {
    .filter-selects {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 64rem) {
    :host {
        border-radius: 20px;

        position: sticky;
        top: calc(72px + 1rem);
        z-index: 1;
        max-width: 350px;
    }

    .filter-selects {
        grid-template-columns: 1fr;
    }
}