:root {
    // Colors
    --primary-color: #7c4dff;
    // --accent-color: #FFD171;
    --accent-color: #ffd080;
    --warn-color: #ff5252;
    
    --purple-color: #AF63FF;
    --purple-dark-color: #563F97;
    --green-dark-color: #235633;

    // Buttons
    --button-light-text: #fff;
    --button-dark-text: rgba(0, 0, 0, 0.87);
    --button-light-background: #fff;
    --button-dark-background: #424242;

    --button-text: var(--button-dark-text);
    --button-background: var(--button-light-background);

    // Text and background
    --light-text: #fafafa;
    --dark-text: #2c2c2c;
    --light-background: #fafafa;
    --dark-background: #2c2c2c;

    --text-color: var(--dark-text);
    --background-color: var(--light-background)
}