:root {
    // Use colors variables like
    // background-color: hsl(var(--clr-blue-dark), .5);

    // Base colors
    --clr-blue: 211, 89%, 58%; //#3590F3
    --clr-blue-dark: 250, 100%, 15%; //#0D004D

    --clr-red: 0, 65%, 51%; //#D32F2F

    --clr-green: 123, 46%, 34%; //#2E7D32

    --clr-orange: 27, 100%, 47%; //#EF6C00

    --clr-pink: 0, 55%, 91%; //#F5DDDD
    --clr-pink-light: 349, 100%, 96%; //#FFEAEE

    --clr-purple-light: 242, 70%, 91%; //#D9D8F8
    --clr-yellow-light: 44, 67%, 86%; //#F3E6C3

    --clr-white: 0, 0%, 100%; //#FFFFFF
    --clr-black: 0, 0%, 13%; //#222222

    // Variable colors
    --clr-primary: var(--clr-blue-dark);
    --clr-accent: var(--clr-accent);
    --clr-warn: var(--clr-warn);

    --clr-academic-level: var(--clr-yellow-light);
    --clr-axis: var(--clr-pink);
    --clr-subject: var(--clr-purple-light);
}

// Text color
.text-blue { color: hsl(var(--clr-blue)); }
.text-blue-dark { color: hsl(var(--clr-blue-dark)); }
.text-red { color: hsl(var(--clr-red)); }
.text-green { color: hsl(var(--clr-green)); }
.text-orange { color: hsl(var(--clr-orange)); }
.text-white { color: hsl(var(--clr-white)); }

// Background color
.bg-blue { background-color: hsl(var(--clr-blue)); }
.bg-blue-dark { background-color: hsl(var(--clr-blue-dark)); }