// Buttons
.rounded-button,
.rounded-button-slim {
    // Button and link reset
    border: 0px solid transparent;
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    border-radius: 100px;

    color: var(--text-color, hsl(var(--clr-white)));
    background-color: var(--bg-color, hsl(var(--clr-blue-dark)));
    padding-inline: var(--p-x, 1em);
    padding-block: var(--p-y, .7em);

    > .mat-icon {
        height: 100%;
        font-weight: 300;
    }
}

.rounded-button-slim {
    gap: .2em;
    padding: .2em .5em;
    font-weight: 600;
}

.rounded-button:hover,
.rounded-button-slim:hover {
    opacity: .9;
}

@media (min-width: 48rem) {
    .rounded-button {
        padding-inline: var(--p-x, 1.5em);
        padding-block: var(--p-y, .75em);
    }

    .rounded-button-slim {
        padding: .35em 1em;
        font-weight: 600;
    }
}

.circle-button {
    // Button and link reset
    border: none;
    text-decoration: none;
    margin: 0;
    padding: var(--padding, .5em);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;

    border-radius: 100px;
    aspect-ratio: 1;

    color: var(--text-color, hsl(var(--clr-white)));
    background-color: var(--bg-color, hsl(var(--clr-blue-dark)));

    > .mat-icon {
        height: 100%;
        font-weight: 300;
    }

    > span {
        padding-inline: .5ch;
    }
}

.circle-button:hover:not(:disabled) {
    opacity: .9;
}

.circle-button:disabled {
    background-color: #efefef;
}

// Inputs
.rounded-search-bar {
    background-color: hsl(var(--clr-white));
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 100px;
    padding-inline: 1em;

    input {
        border: 0;
        width: 100%;
        outline: none;
    }

    // Remove native "x"
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }
}

// Cards
.rounded-card {
    background-color: hsl(var(--clr-white));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1rem;
}

@media (min-width: 48rem) {
    .rounded-card {
        border-radius: 18px;
    }
}

// Basic tags
.border-tag-red,
.border-tag-blue,
.border-tag-green,
.border-tag-orange,
.small-border-tag-red,
.small-border-tag-blue,
.small-border-tag-green,
.small-border-tag-orange {
    border: 2px solid transparent;
    border-radius: 30px;
    padding-inline: .5em;
    font-weight: 700;

    display: flex;
    align-items: center;
    min-width: 0;
}

.small-border-tag-red,
.small-border-tag-blue,
.small-border-tag-green,
.small-border-tag-orange {
    font-size: var(--fs-small);
    line-height: var(--fs-small);
}

.small-border-tag-red,
.border-tag-red {
    border-color: hsl(var(--clr-red));
    color: hsl(var(--clr-red));
}

.small-border-tag-blue,
.border-tag-blue {
    border-color: hsl(var(--clr-blue));
    color: hsl(var(--clr-blue));
}

.small-border-tag-green,
.border-tag-green {
    border-color: hsl(var(--clr-green));
    color: hsl(var(--clr-green));
}

.small-border-tag-orange,
.border-tag-orange {
    border-color: hsl(var(--clr-orange));
    color: hsl(var(--clr-orange));
}

// Shimmers loadings
.shimmer-loading,
.shimmer-text-large,
.shimmer-text-regular {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

.shimmer-text-large {
    height: var(--fs-large);
    border-radius: 20px;
    margin-bottom: calc(var(--fs-large) / 4);
}

.shimmer-text-regular {
    height: var(--fs-regular);
    border-radius: 8px;
    margin-bottom: calc(var(--fs-regular) / 4);
}

.shimmer-text-color {
    color: #edeef1;
}