:host {
    display: block;
    margin-top: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 38rem;
}

mat-icon {
    color: #edeef1;
}

@media (max-width: 62rem) {
    .card {
        min-width: auto;
    }
}