<h1 class="fs-large">Eliminar publicación 🗑️</h1>
<div mat-dialog-content>
  <p class="m-y-1">
    ¿Seguro que quieres eliminar <span class="fw-700">{{ post!.title }}</span>?
  </p>
  <p>No podrás recuperar esta publicación.</p>
</div>
<div mat-dialog-actions class="flex-end-center gap-025">
  <button mat-raised-button color="warn" (click)="deletePost()" *ngIf="!loading" @inOutRight [@.disabled]="!loading">
    <span class="m-r-05">Eliminar</span>
    <!-- <mat-icon class="fs-medium">delete</mat-icon> -->
  </button>
  <div class="shapes-loader" *ngIf="loading" @inOutLeft></div>

  <button mat-flat-button mat-dialog-close>
    Cancelar
  </button>
</div>