<h1 class="ft-title">¿Olvidaste tu contraseña? 😅</h1>
<div class="ft-body m-y-05">
  <p>Te enviaremos un email con un enlace para que puedas restablecerla 📫</p>
  <p>Recuerda revisar spam!</p>
</div>
<mat-form-field appearance="outline" class="w-100 ft-body">
  <mat-label>Email</mat-label>
  <input type="email" matInput [formControl]="email">
  <mat-error *ngIf="email.invalid && email.errors!['required']">
    Debes ingresar tu email
  </mat-error>
  <mat-error *ngIf="email.invalid && email.errors!['email']">
    Debes ingresar tu email válido
  </mat-error>
</mat-form-field>
<div class="action-buttons flex-col gap-05 ft-body m-t-1">
  <button appLoadingButton [loading]="loading"
  (click)="resetPassword()"
  class="rounded-button bg-secondary txt-on-secondary">
    Restablecer contraseña
  </button>

  <button mat-dialog-close class="rounded-button">
    Cancelar
  </button>
</div>