.container-row {
    padding-bottom: 1.5rem;
}

@media (min-width: 64rem) {
    .container-row {
        flex-wrap: nowrap;
    }

    .left-side {
        align-self: flex-start;
        max-width: 320px;
        position: static;
        top: 70px;
    }
}
