<main class="main">
  <div>
    <button mat-raised-button (click)="goBack()" class="back-button">
      <mat-icon>arrow_back</mat-icon>
      <span>Volver</span>
    </button>
    <!-- Form -->
    <mat-card class="card">
      <mat-card-title>Crear publicación</mat-card-title>
  
      <form [formGroup]="form" (ngSubmit)="save($event)">
        <mat-form-field appearance="outline" class="title-field">
          <mat-label>Título</mat-label>
          <input matInput placeholder="Título" formControlName="title">
          <mat-error *ngIf="this.titleControl?.hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="select-field">
          <mat-label>Nivel académico</mat-label>
          <mat-select formControlName="academicLevel">
            <mat-option>
              <ngx-mat-select-search
                [searching]="isAcademicLevelsLoading"
                [formControl]="searchAcademicLevel"
                placeholderLabel="Buscar nivel académico"
                noEntriesFoundLabel="No se encontraron resultados">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let academicLevel of filteredAcademicLevelsList|async" [value]="academicLevel.id">
              {{ academicLevel.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.academicLevelControl?.hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
        
        <!-- <mat-form-field appearance="outline" class="select-field">
          <mat-label>Asignatura</mat-label>
          <mat-select formControlName="subject">
            <mat-option>
              <ngx-mat-select-search 
                [searching]="isSubjectsLoading"
                [formControl]="searchSubject"
                placeholderLabel="Buscar asignatura"
                noEntriesFoundLabel="No se encontraron resultados">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let subject of filteredSubjectList|async" [value]="subject.id">
              {{ subject.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="this.subjectControl?.hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field> -->

        
        <mat-form-field appearance="outline" class="select-field">
          <mat-label>Eje</mat-label>
          <mat-select formControlName="axis">
            <mat-option>
              <ngx-mat-select-search 
                [searching]="isAxesLoading"
                [formControl]="searchAxes"
                placeholderLabel="Buscar axis"
                noEntriesFoundLabel="No se encontraron resultados">
              </ngx-mat-select-search>
            </mat-option>
            <mat-optgroup *ngFor="let subject of filteredSubjectAxis|async" [label]="subject.name">
              <mat-option *ngFor="let axis of subject.axis" [value]="axis.id">
                {{ axis.name }}
              </mat-option>
            </mat-optgroup>
            <!-- <mat-option>
              <ngx-mat-select-search 
                [searching]="isAxesLoading"
                [formControl]="searchAxes"
                placeholderLabel="Buscar axis"
                noEntriesFoundLabel="No se encontraron resultados">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let axis of filteredSubjectAxis|async" [value]="axis.id">
              {{ axis.name }}
            </mat-option> -->
          </mat-select>
          <mat-error *ngIf="this.axisControl?.hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
  
        <mat-form-field class="description-textarea" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput 
          formControlName="description"
            cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="20">
          </textarea>
        </mat-form-field>

        <div class="flex_justify_end">
          <button type="submit" mat-raised-button color="primary" *ngIf="!isLoading">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
          </button>
          <app-square-loader *ngIf="isLoading"></app-square-loader>
        </div>
      </form>
    </mat-card>
  </div>

  <!-- Upload section -->
  <mat-card class="right-side">
    <div class="upload-section"
      matRipple
      appDragAndDropFile
      (fileDropped)="onFileDroped($event)"
      (click)="inputFile.click()">
        <div class="flex_center">
          <h2>
            Arrastra los archivos aquí
          </h2>
          <mat-icon>upload_file</mat-icon>
        </div>
        <small>Solo estos archivos y similares se podrán visualizar en Planishare</small>
        <div class="flex_justify_center gap-05">
          <div class="file-icon pdf-style">.pdf</div>
          <div class="file-icon doc-style">.doc</div>
          <div class="file-icon ppt-style">.xls</div>
          <div class="file-icon xls-style">.ppt</div>
        </div>
        <p>o has click para buscar en tu dispositivo</p>
        <input type="file" (change)="onFileSelected($event)"multiple #inputFile>
        <mat-error *ngIf="this.documentsControl?.hasError('required') && this.form.touched">Debes subir al menos un archivo</mat-error>
        <mat-error *ngIf="this.documentsControl?.hasError('max')">{{ maxFilesMsg }}</mat-error>
        <mat-error *ngIf="this.documentsControl?.hasError('maxSize')">{{ maxFileSizeMsg }}</mat-error>
        <mat-error *ngIf="this.documentsControl?.hasError('firstDocType')">{{ firstDocTypeMsg }}</mat-error>
    </div>

    <div class="flex_column gap-05">
      <ng-container *ngFor="let doc of documentList; index as i">
        <mat-hint *ngIf="i === 0">Planificación</mat-hint>
        <mat-hint *ngIf="i === 1">Material complementario</mat-hint>
        <div
          class="document {{doc.ext}}-style"
          matRipple>
          <span>{{ doc.name }}</span>
          <div>
            <button
              class="document-button"
              *ngIf="doc.isUploadComplete"
              (click)="download(doc.url)"
              mat-icon-button>
              <mat-icon>download</mat-icon>
            </button>
            <button
              class="document-button"
              *ngIf="doc.isUploadComplete"
              (click)="removeFile(i)"
              mat-icon-button>
                <mat-icon>cancel</mat-icon>
            </button>
            <div class="spinner-container" *ngIf="!doc.isUploadComplete">
              <div class="spinner"></div>
            </div>
          </div>
        </div>
      </ng-container>
  </div>
  </mat-card>
</main>

