<nav class="navbar">
  <button class="navbar__close text-white" mat-icon-button (click)="hideSidenav();">
    <mat-icon>close</mat-icon>
  </button>

  <ul class="navbar__list">
    <li>
      <a [routerLink]="['/posts/list']" class="navbar__link p-l-container" routerLinkActive="active"
        (click)="hideSidenav()">
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
      </a>
    </li>
    <li *ngIf="!authUser">
      <a [routerLink]="['/auth/register']" class="navbar__link p-l-container" routerLinkActive="active"
        (click)="hideSidenav()">
        <mat-icon>person_add</mat-icon>
        <span>Registrarse</span>
      </a>
    </li>
    <li *ngIf="!authUser">
      <a [routerLink]="['/auth/login']" class="navbar__link p-l-container" routerLinkActive="active"
        (click)="hideSidenav()">
        <mat-icon>login</mat-icon>
        <span>Iniciar sesión</span>
      </a>
    </li>
    <li *ngIf="authUser">
      <a [routerLink]="['/user/edit-profile']" class="navbar__link p-l-container" routerLinkActive="active"
        (click)="hideSidenav()">
        <mat-icon>person</mat-icon>
        <span>Mi perfil</span>
      </a>
    </li>
    <li *ngIf="authUser">
      <a [routerLink]="['/posts/user', authUser.id]" class="navbar__link p-l-container" routerLinkActive="active"
        (click)="hideSidenav()">
        <mat-icon>description</mat-icon>
        <span>Mis publicaciones</span>
      </a>
    </li>
    <li *ngIf="authUser">
      <a [routerLink]="['/posts/create']" class="navbar__link p-l-container" routerLinkActive="active"
        (click)="hideSidenav()">
        <mat-icon>control_point</mat-icon>
        <span>Crear publicación</span>
      </a>
    </li>
  </ul>

  <button *ngIf="authUser" class="rounded-button" (click)="hideSidenav(); logout()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</nav>