<main class="container">
  <!-- Post card -->
  <div class="rounded-card post-info-card flex-column flex-space_between gap-07 w-100" *ngIf="post">
    <div class="flex-space_between-center">
      <p>{{ post.user.fullName }} - {{ post.createdAt|timeAgo }}</p>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones" matTooltip="Opciones">
        <mat-icon class="text-blue-dark">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="post.user.id !== user?.id">
          <mat-icon>report</mat-icon>
          <span>Reportar</span>
        </button>
        <button mat-menu-item (click)="deletePost(post)" *ngIf="post.user.id === user?.id">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </div>

    <div class="flex-column gap-05">
      <h2><a [routerLink]="['/posts/view', post.id]" class="reset-link-style">
          {{ post.title }}
        </a></h2>
      <p><a [routerLink]="['/posts/view', post.id]" class="reset-link-style">
          {{ post.description }}
        </a></p>
    </div>

    <div>
      <div class="flex-start-center gap-025">
        <mat-icon class="text-blue-dark">description</mat-icon>
        <span class="fw-600">{{ post.totalFiles }} Documentos</span>
      </div>

      <div class="flex-space_between-center m-l-05">
        <div class="border-tag-{{ post.mainFile.tagColor }}">
          <span class="text-ellipsis">{{ post.mainFile.name }}</span>
          <span>{{ post.mainFile.ext }}</span>
        </div>
        <div class="flex-center-center">
          <button mat-icon-button>
            <mat-icon class="text-blue-dark">file_download</mat-icon>
          </button>
          <button class="rounded-button-slim fs-small">
            Ver
          </button>
        </div>
      </div>

      <div class="flex-space_between-center m-l-05" *ngFor="let file of post.supportingMaterial">
        <div class="border-tag-{{ file.tagColor }}">
          <span class="text-ellipsis">{{ file.name }}</span>
          <span>{{ file.ext }}</span>
        </div>
        <div class="flex-center-center">
          <button mat-icon-button>
            <mat-icon class="text-blue-dark">file_download</mat-icon>
          </button>
          <button class="rounded-button-slim fs-small">
            Ver
          </button>
        </div>
      </div>
    </div>

    <div class="flex-wrap gap-025">
      <span class="rounded-button-slim bg-text-academic-level">Nivel académico: {{ post.academicLevel.name }}</span>
      <span class="rounded-button-slim bg-text-axis">Eje: {{ post.axis.name }}</span>
      <span class="rounded-button-slim bg-text-subject">Asignatura: {{ post.axis.subject.name }}</span>
    </div>

    <div class="flex-space_between-center">
      <div class="flex-center-center gap-05 flex-wrap fs-small">
        <div class="flex-center-center gap-025">
          <mat-icon class="small-icon text-blue-dark">favorite_outline</mat-icon>
          <span class="fw-600">{{ post.totalLikes }} Me gusta</span>
        </div>
        <div class="flex-center-center gap-025">
          <mat-icon class="small-icon text-blue-dark">visibility</mat-icon>
          <span class="fw-600">{{ post.totalLikes }} Visualizaciones</span>
        </div>
      </div>

      <button mat-icon-button>
        <mat-icon class="text-red">
          {{ post.alreadyLiked ? 'favorite' : 'favorite_outline' }}
        </mat-icon>
      </button>
    </div>
  </div>

  <!-- File preview -->
  <div class="doc-viewer" *ngIf="!isLoading">
    <ngx-doc-viewer [url]="currentDocUrl" [viewer]="currentViewer"></ngx-doc-viewer>
  </div>
</main>