.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1.5rem;
    flex-wrap: wrap;
}

@media (min-width: 64rem) {
    .container {
        flex-wrap: nowrap;
    }

    .post-info-card {
        max-width: 320px;
    }
}

.doc-viewer {
    width: 100%;
    height: 85vh;
    border-radius: 10px;
    background-color: hsl(var(--clr-white));
    padding: 0.25rem;
    resize: vertical;
    overflow: auto;
}

ngx-doc-viewer {
    height: 99%;
}