:host {
    display: block;
    background-image: url('/assets/images/bg-desktop-yellow.png');
    background-size: contain;
    // background-attachment: fixed;

    padding: 4rem 1rem 1rem 1rem;
    
    min-height: calc(100% - 4rem - 1rem); // 4rem = navbar height
}

.card {
    max-width: 25.5rem; // desktop
    margin-top: 0.5rem;
}

.doc-preview {
    flex-grow: 3;
    height: calc(100vh - 4rem - 1rem - 2rem);
}

.time-data {
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.academic-level-tag, .subject-tag, .axis-tag{
    color: var(--light-text);
}

.academic-level-tag {
    background-color: var(--primary-color);
}

.subject-tag {
    background-color: var(--warn-color);
}

.axis-tag {
    background-color: var(--purple-color);
}


.document {
    background-color: #e9e9e9;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;

    font-weight: 500;

    cursor: pointer;

    > span {
        overflow: hidden;
        max-width: 40ch; // desktop
        max-width: 21ch; // mobile
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
}

@media (max-width: 40rem) {
    .document {
        cursor: none;

        > span {
            max-width: 21ch; // mobile
        }
    }
}

.download-button {
    border-radius: 30px;
    min-width: 83px;
}

.pdf-button {
    color: var(--light-text);
    background-color: var(--warn-color);
}
.doc-button {
    color: var(--light-text);
    background-color: var(--primary-color);
}
.ppt-button {
    color: var(--light-text);
    // TODO: Find orange color
    background-color: var(--accent-color);
}
.xls-button {
    color: var(--light-text);
    // TODO: Find green light color
    background-color: var(--green-dark-color);
}