<nav class="navbar" *ngIf="!isMobile()">
    <app-search-button></app-search-button>
    <ul>
        <li>
            <app-big-button text="Registrarse" icon="person_add"></app-big-button>
        </li>
        <li>
            <app-big-button text="Iniciar Sesión" icon="login"></app-big-button>
        </li>
        <li>
            <app-big-button text="Mis publicaciones" icon="description"></app-big-button>
        </li>
        <li>
            <app-big-button text="Crear publicación" icon="control_point"></app-big-button>
        </li>
        <li>
            <button mat-mini-fab class="profile-button">
                <mat-icon>person</mat-icon>
            </button>
        </li>
    </ul>
</nav>

<nav class="navbar" *ngIf="isMobile()">
    <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <div class="logo">
        <span>Planishare</span>
    </div> -->
    <app-search-button [simpleIcon]="true"></app-search-button>
</nav>

