.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Override .container class regarding icons width
    max-width: calc(90rem - 16px);
    padding-inline: calc(min(5%, 2rem) - 16px);
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: var(--fs-large);
    font-weight: 800;
    gap: .3em;

    img {
        max-height: var(--fs-large);
    }
}

.navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    gap: .5rem;
}

.rounded-button {
    --bg-color: hsl(var(--clr-pink-light));
    --text-color: hsl(var(--clr-blue-dark));
    --p-x: 1.35em;
    --p-y: .45em;
}