<nav class="navbar" *ngIf="!isMobile">
    <button mat-raised-button class="logo" [routerLink]="['/']">
        <span class="logo-text">Planishare</span>
        <button mat-raised-button class="logo-search-button" (click)="openSearchDialog(); $event.stopPropagation()">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </button>
    <ul>
        <!-- TODO: Create active in buttons maybe blue backgrpund -->
        <li *ngIf="!isUserAuth">
            <button mat-raised-button [routerLink]="['/auth/register']">
                <mat-icon>person_add</mat-icon>
                Registrarse
            </button>
        </li>
        <li *ngIf="!isUserAuth">
            <button mat-raised-button [routerLink]="['/auth/login']">
                <mat-icon>login</mat-icon>
                Iniciar Sesión
            </button>
        </li>
        <li *ngIf="isUserAuth">
            <button mat-raised-button>
                <mat-icon>description</mat-icon>
                Mis publicaciones
            </button>
        </li>
        <li *ngIf="isUserAuth">
            <button mat-raised-button>
                <mat-icon>control_point</mat-icon>
                Crear publicación
            </button>
        </li>
        <li *ngIf="isUserAuth">
            <button mat-mini-fab class="profile-button" (click)="logout()">
                <mat-icon>person</mat-icon>
            </button>
        </li>
    </ul>
</nav>

<nav class="navbar" *ngIf="isMobile">
    <button mat-icon-button (click)="openSidenav()">
        <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <button mat-raised-button class="logo-mobile" [routerLink]="['/']">
        Planishare
    </button>
    <button mat-raised-button class="simple-icon" (click)="openSearchDialog()">
        <mat-icon>search</mat-icon>
    </button>
</nav>

