.header {
    background-color: hsl(var(--clr-white-old));
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: calc(90rem - 16px);
    padding-inline: calc(min(5%, 2rem) - 16px);
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .3em;
    border-radius: 100px;
    padding-inline: .5em;

    img {
        max-height: var(--fs-large);
    }
}

.navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: .5rem 0;
    gap: .5rem;
}

.rounded-button {
    --bg-color: transparent;
    --text-color: hsl(var(--clr-grey-dark));
    --p-x: 1.25em;
    --p-y: .3em;
    border: 2px solid hsl(var(--clr-grey-dark));
}

.rounded-button,
.circle-button {
    transition: transform .07s ease-in;
}

.rounded-button:hover,
.circle-button:hover {
    transform: scale(1.025);
}

.active {
    --bg-color: hsl(var(--clr-grey-dark));
    --text-color: hsl(var(--clr-white));
}
