:host {
    display: block;
    background-color: var(--accent-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.7rem 1rem;
    
    ul {
        list-style-type: none;
        
        display: flex;
        align-items: center;
        gap: 0.6rem;

        margin: 0;
        padding: 0;
    }
}

.logo {
    background-color: var(--green-dark-color);
    
    color: var(--light-text);
    font-weight: 500;
    border-radius: 10px;
    font-size: clamp(1.5rem, 1.7000rem + -0.4167vw, 1.2rem);
    
    box-shadow: 0px 1px 3px #303030;
}

.menu {
    display: grid;
    place-items: center;

    border: 0;

    background-color: rgba(0,0,0,0);
}

.profile-button {
    color: var(--button-text);
    background-color: var(--button-background);
}