.mat-sidenav-container, .mat-sidenav-content{
    overflow: unset; // To allow navbar sticky
}

.mat-sidenav-content {
    background-image: url('/assets/images/bg1-425x756.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;

    display: flex;
    flex-direction: column;
    gap: .25rem;

    min-height: 100vh;
}

#navbar {
    position: sticky;
    top: 0;
    justify-self: flex-start;
}

#main-content {
    flex-grow: 1;
    display: flex;
    margin-inline: auto;
}

.mat-sidenav {
    width: 100%;
    max-width: 224px;

    background-color: hsl(var(--clr-blue-dark), .7);
}

@media (min-width: 48rem) {
    .mat-sidenav-content {
        background-image: url('/assets/images/bg1-1920x1080.jpg');
        gap: 1;
    }

    .mat-sidenav {
        max-width: 256px;
    }
}