<mat-sidenav-container>
    <mat-sidenav-content>
        <app-navbar id="navbar"></app-navbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
    <mat-sidenav mode="over" [(opened)]="isOpened" [autoFocus]="false" [fixedInViewport]="true">
        <ng-container [ngSwitch]="component">
            <app-navigation-sidenav *ngSwitchCase="sidenavComponent.NAVIGATION_SIDENAV"></app-navigation-sidenav>
        </ng-container>
    </mat-sidenav>
</mat-sidenav-container>
