<mat-sidenav-container>
    <mat-sidenav-content>
        <app-navbar id="navbar"></app-navbar>
        <main id="main-content">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
    <mat-sidenav mode="over" [(opened)]="isOpened" [autoFocus]="false">
        <ng-container [ngSwitch]="component">
            <app-navigation-sidenav *ngSwitchCase="sidenavComponent.NAVIGATION_SIDENAV"></app-navigation-sidenav>
        </ng-container>
    </mat-sidenav>
</mat-sidenav-container>
