<main class="container flex-col lg-flex-row gap-05 bg-background p-y-1">
  <div class="card w-100">
    <h1 class="ft-title">
      {{ !editForm ? 'Crear publicación' : 'Editar publicación' }}
    </h1>

    <form class="m-t-1 ft-body" [formGroup]="form" (ngSubmit)="save($event)" *ngIf="!loadingPost">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Título" formControlName="title">
        <mat-error *ngIf="this.form.controls.title.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nivel académico</mat-label>
        <mat-select formControlName="academicLevel">
          <mat-option>
            <ngx-mat-select-search [searching]="loadingAcademicLevels" [formControl]="searchAcademicLevel"
              placeholderLabel="Buscar nivel académico" noEntriesFoundLabel="No se encontraron resultados">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let academicLevel of filteredAcademicLevels|async" [value]="academicLevel.id">
            {{ academicLevel.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls.academicLevel.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Eje</mat-label>
        <mat-select formControlName="axis">
          <mat-option>
            <ngx-mat-select-search [searching]="loadingAxes" [formControl]="searchAxis" placeholderLabel="Buscar axis"
              noEntriesFoundLabel="No se encontraron resultados">
            </ngx-mat-select-search>
          </mat-option>
          <mat-optgroup *ngFor="let subject of filteredSubjectAxis|async" [label]="subject.name">
            <mat-option *ngFor="let axis of subject.axis" [value]="axis.id">
              {{ axis.name }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error *ngIf="this.form.controls.axis.hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="20">
              </textarea>
        <div>
          <mat-hint *ngIf="this.form.controls.description.valid">{{ this.form.controls.description.value?.length ?? 0
            }}/1000
          </mat-hint>
          <mat-error *ngIf="this.form.controls.description.hasError('maxlength')">{{
            this.form.controls.description.value?.length ?? 0 }}/1000</mat-error>
        </div>
      </mat-form-field>

      <div class="flex-end-center ft-body">
        <button type="submit" matRipple appLoadingButton [loading]="loading" class="rounded-button bg-primary txt-on-primary" [disabled]="loadingPost">
          <ng-container *ngIf="!loading && !editForm">
            <span>Publicar</span>
            <i-tabler name="send"></i-tabler>
          </ng-container>
          <ng-container *ngIf="!loading && editForm">
            <span>Guardar</span>
            <i-tabler name="device-floppy"></i-tabler>
          </ng-container>
        </button>
      </div>
    </form>

    <!-- Form shimmer -->
    <div *ngIf="loadingPost">
      <div class="shimmer-input-form"></div>
      <div class="shimmer-input-form"></div>
      <div class="shimmer-input-form"></div>
      <div class="shimmer-input-form"></div>
      <div class="flex-end-center">
        <button class="rounded-button bg-primary txt-on-primary" disabled>
          <ng-container *ngIf="!editForm">
            <span>Publicar</span>
            <i-tabler name="send"></i-tabler>
          </ng-container>
          <ng-container *ngIf="editForm">
            <span>Guardar</span>
            <i-tabler name="device-floppy"></i-tabler>
          </ng-container>
        </button>
      </div>
    </div>
  </div>

  <!-- Upload File -->
  <div class="card lg-max-w-50 w-100">
    <h2 class="ft-medium" *ngIf="editForm">Archivos</h2>

    <div class="upload-area text-center" appDragAndDropFile
      (fileDropped)="onFileDroped($event)"
      [ngClass]="{'upload-area_invalid': this.form.controls.files.invalid && this.form.controls.files.touched}"
      *ngIf="!editForm">
      <h2 class="ft-medium f-weight-500 txt-secondary"
        [ngClass]="{'txt-red': this.form.controls.files.invalid && this.form.controls.files.touched}">Arrastra los
        archivos aquí</h2>
      <div class="ft-body">
        <p>Los archivos con estos formatos se podrán ver sin descargar</p>
        <div class="flex-center-center gap-05 flex-wrap m-t-05">
          <div class="rounded-tag--slim bg-red txt-on-red">.pdf</div>
          <div class="rounded-tag--slim bg-blue txt-on-blue">.doc</div>
          <div class="rounded-tag--slim bg-green txt-on-green">.xls</div>
          <div class="rounded-tag--slim bg-orange txt-on-orange">.ppt</div>
        </div>
      </div>
      <button (click)="fileInput.click()" matRipple class="rounded-button bg-secondary txt-on-secondary m-x-auto m-t-1">
        <!-- <mat-icon>upload_file</mat-icon> -->
        <span>Buscar en el dispositivo</span>
      </button>
      <input type="file" class="sr-only" (change)="onFileSelected($event)" multiple #fileInput>
      <mat-error *ngIf="this.form.controls.files.hasError('required') && this.form.controls.files.touched">
        {{ fileInputMsg.minFiles }}
      </mat-error>
    </div>

    <div class="flex-col gap-075 m-t-1">
      <div *ngFor="let file of fileList; index as i" @inOutRight>
        <span *ngIf="i === 0" class="ft-label f-weight-500">Archivo principal</span>
        <span *ngIf="i === 1" class="m-t-1 ft-label f-weight-500">Material complementario</span>
        <div class="flex-between-center gap-1">
          <div class="flex-start-center gap-05 min-w-0">
            <span class="rounded-border-tag--slim ft-label txt-{{file.accentColor}}">{{ file.ext }}</span>
            <span class="text-ellipsis" [attr.aria-label]="file.fullName">{{ file.fullName }}</span>
          </div>
          <div *ngIf="file.uploadCompleted" class="flex-start-center gap-05">
            <a mat-icon-button [href]="file.url" download [target]="file.ngxDocViewer === 'office' ? '_self' : '_blank'"
              aria-label="Descargar">
              <i-tabler name="download" class="txt-blue"></i-tabler>
            </a>
            <button *ngIf="!editForm" (click)="removeFile(i)" mat-icon-button aria-label="Remover">
              <i-tabler name="trash" class="txt-red"></i-tabler>
            </button>
          </div>
          <div *ngIf="!file.uploadCompleted" aria-label="Cargando">
            <mat-spinner diameter="24"></mat-spinner>
          </div>
        </div>
      </div>
    </div>

    <!-- File list shimmer -->
    <div *ngIf="loadingPost" class="flex-col gap-1 w-100">
      <div class="shimmer-ft-label w-40"></div>
      <div class="flex-between-center gap-1">
        <div class="flex-center-center gap-05 w-100">
          <div class="shimmer-ft-title w-10"></div>
          <div class="shimmer-ft-body w-100"></div>
        </div>
        <button mat-icon-button disabled><i-tabler name="download"></i-tabler></button>
      </div>

      <div class="shimmer-ft-label w-40"></div>
      <div class="flex-between-center gap-1">
        <div class="flex-center-center gap-05 w-100">
          <div class="shimmer-ft-title w-10"></div>
          <div class="shimmer-ft-body w-100"></div>
        </div>
        <button mat-icon-button disabled><i-tabler name="download"></i-tabler></button>
      </div>
      <div class="flex-between-center gap-1">
        <div class="flex-center-center gap-05 w-100">
          <div class="shimmer-ft-title w-10"></div>
          <div class="shimmer-ft-body w-100"></div>
        </div>
        <button mat-icon-button disabled><i-tabler name="download"></i-tabler></button>
      </div>
    </div>
  </div>
</main>