<div *ngIf="!loading && post">
  <div class="flex-col">
    <div class="flex">
      <p>{{ post.user.fullName ?? post.user.email }} - {{ post.createdAt|timeAgo }}</p>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reportPost(post)" *ngIf="!ownPost">
          <mat-icon>report</mat-icon>
          <span>Reportar</span>
        </button>
        <a mat-menu-item [routerLink]="['/posts/edit', post.id]" *ngIf="ownPost">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </a>
        <button mat-menu-item (click)="deletePost(post)" *ngIf="ownPost">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </div>

    <h2><a [routerLink]="['/posts/view', post.id]">{{ post.title }}</a></h2>
    <p><a [routerLink]="['/posts/view', post.id]">{{ post.shortDescription }}</a></p>
  </div>

  <div class="flex">
    <div>
      <mat-icon>description</mat-icon>
      <span>{{ post.totalFiles }} Documentos</span>
    </div>

    <div class="flex">
      <span>{{ post.mainFile.ext }}</span>
      <ng-container *ngFor="let file of post.supportingMaterial">
        <span>{{ file.ext }}</span>
      </ng-container>
    </div>
  </div>

  <div class="flex">
    <span>{{ post.academicLevel.name }}</span>
    <span>{{ post.axis.name }}</span>
    <span>{{ post.axis.subject.name }}</span>
  </div>

  <div class="flex">
    <div class="flex">
      <div class="flex">
        <mat-icon>favorite_outline</mat-icon>
        <span>{{ post.totalLikes }} Me gusta</span>
      </div>
      <div class="flex">
        <mat-icon>visibility</mat-icon>
        <span>{{ post.totalViews }} Visualizaciones</span>
      </div>
    </div>

    <mat-icon>
      {{ post.alreadyLiked ? 'favorite' : 'favorite_outline' }}
    </mat-icon>
  </div>
</div>
<p *ngIf="loading">Loading...</p>