<div *ngIf="!loading && post">
  <div class="flex-col">
    <div class="flex">
      <p>{{ post.user.fullName ?? post.user.email }} - {{ post.createdAt|timeAgo }}</p>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
        <i-tabler name="dots-vertical"></i-tabler>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reportPost(post)" *ngIf="!ownPost">
          <i-tabler name="message-report"></i-tabler>
          <span>Reportar</span>
        </button>
        <a mat-menu-item [routerLink]="['/posts/edit', post.id]" *ngIf="ownPost">
          <i-tabler name="pencil"></i-tabler>
          <span>Editar</span>
        </a>
        <button mat-menu-item (click)="deletePost(post)" *ngIf="ownPost">
          <i-tabler name="trash"></i-tabler>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </div>

    <h2><a [routerLink]="['/posts/view', post.id]">{{ post.title }}</a></h2>
    <p><a [routerLink]="['/posts/view', post.id]">{{ post.shortDescription }}</a></p>
  </div>

  <div class="flex">
    <div>
      <i-tabler name="file-description"></i-tabler>
      <span>{{ post.totalFiles }} Documentos</span>
    </div>

    <div class="flex">
      <span>{{ post.mainFile.ext }}</span>
      <ng-container *ngFor="let file of post.supportingMaterial">
        <span>{{ file.ext }}</span>
      </ng-container>
    </div>
  </div>

  <div class="flex">
    <span>{{ post.academicLevel.name }}</span>
    <span>{{ post.axis.name }}</span>
    <span>{{ post.axis.subject.name }}</span>
  </div>

  <div class="flex">
    <div class="flex">
      <div class="flex">
        <i-tabler name="heart"></i-tabler>
        <span>{{ post.totalLikes }} Me gusta</span>
      </div>
      <div class="flex">
        <i-tabler name="eye"></i-tabler>
        <span>{{ post.totalViews }} Visualizaciones</span>
      </div>
    </div>

    <i-tabler [name]="post.alreadyLiked ? 'heart-filled' : 'heart'"></i-tabler>
  </div>
</div>
<p *ngIf="loading">Loading...</p>