<div *ngIf="!loading && post" class="card flex-col flex-between gap-05 w-100">
  <div class="flex-col">
    <div class="flex-between-center">
      <p class="ft-label">{{ post.user.fullName ?? post.user.email }} - {{ post.createdAt|timeAgo }}</p>
  
      <button class="small-icon-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
        <i-tabler name="dots-vertical"></i-tabler>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reportPost(post)" *ngIf="!ownPost">
          <i-tabler name="message-report"></i-tabler>
          <span>Reportar</span>
        </button>
        <a mat-menu-item [routerLink]="['/posts/edit', post.id]" *ngIf="ownPost">
          <i-tabler name="pencil"></i-tabler>
          <span>Editar</span>
        </a>
        <button mat-menu-item (click)="deletePost(post)" *ngIf="ownPost">
          <i-tabler name="trash"></i-tabler>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </div>
  
    <h2><a class="a-style-none ft-title" [routerLink]="['/posts/view', post.id]">{{ post.title }}</a></h2>
    <p><a class="a-style-none ft-body" [routerLink]="['/posts/view', post.id]">{{ post.shortDescription }}</a></p>
  </div>

  <div class="flex-between-center">
    <div class="ft-body flex-center-center gap-05">
      <i-tabler name="file-description" class="small-icon"></i-tabler>
      <span class="ft-label">{{ post.totalFiles }} Documentos</span>
    </div>

    <div class="flex ft-label gap-05">
      <div class="rounded-border-tag--slime">{{ post.mainFile.ext }}</div>
      <ng-container *ngFor="let file of post.supportingMaterial">
        <div class="rounded-border-tag--slime">{{ file.ext }}</div>
      </ng-container>
    </div>
  </div>

  <div class="ft-label flex-center-center flex-wrap gap-05">
    <span class="rounded-tag--slime bg-academic-level txt-on-academic-level flex-grow-1">{{ post.academicLevel.name }}</span>
    <span class="rounded-tag--slime bg-axis txt-on-axis flex-grow-1">{{ post.axis.name }}</span>
    <span class="rounded-tag--slime bg-subject txt-on-subject flex-grow-1">{{ post.axis.subject.name }}</span>
  </div>

  <div class="ft-label flex-between-center f-weight-500">
    <div class="flex-wrap gap-05">
      <div class="flex-center-center gap-025">
        <i-tabler name="heart" class="small-icon"></i-tabler>
        <span>{{ post.totalLikes }} Me gusta</span>
      </div>
      <div class="flex-center-center gap-025">
        <i-tabler name="eye" class="small-icon"></i-tabler>
        <span>{{ post.totalViews }} Visualizaciones</span>
      </div>
    </div>

    <button mat-icon-button aria-label="Dar me gusta">
      <i-tabler [name]="post.alreadyLiked ? 'heart-filled' : 'heart'"></i-tabler>
    </button>
  </div>
</div>