<header class="header">
  <div class="container1">
    <!-- <div class="logo">
      <h1>Planishare</h1>
    </div> -->
    <div class="logo">
      <button mat-raised-button [routerLink]="'/'">
        Planishare
      </button>
    </div>
    <div class="subtitle1" *ngIf="!isMobile()">
      <h2>
        Busca y publica planificaciones de enseñanza básica.<br>
        Puedes buscar usando los filtros que están abajo o usando la barra de búsqueda.
      </h2>
    </div>
    <div class="filters">
      <app-rounded-select-search
        [list]="exampleList"
        [control]="academicLevelControl"
        buttonText="Nivel Académico"
        bgColor="var(--primary-color)"
        textColor="var(--light-text)"
        placeholder="Buscar nivel académico">
      </app-rounded-select-search>
      <app-rounded-select-search
        [list]="exampleList"
        [control]="subjectControl"
        buttonText="Asignatura"
        bgColor="var(--warn-color)"
        textColor="var(--light-text)"
        placeholder="Buscar asignatura">
      </app-rounded-select-search>
      <app-rounded-select-search
        [list]="exampleList"
        [control]="axisControl"
        buttonText="Eje"
        bgColor="var(--purple-color)"
        textColor="var(--light-text)"
        placeholder="Buscar eje">
      </app-rounded-select-search>
    </div>  
  </div>

  <div class="container2">
    <div class="subtitle2" *ngIf="isMobile()">
      <h2>
        Busca y publica planificaciones de enseñanza básica.<br>
        Puedes buscar usando los filtros que están arriba o usando la barra de búsqueda.
      </h2>
    </div>
    <div class="scroll-text">
      <p>Revisa las publicaciones populares y recientes</p>
      <div #expand_button>
        <button mat-icon-button (click)="scroll(expand_button)">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- Top posts -->
<main class="main">
  <section class="top-section">
    <div class="top-likes-header">
      <mat-icon>favorite</mat-icon>
      <h4>Las más gustadas</h4>
    </div>
    <div class="ranking">
      <mat-card class="card">
        <mat-card-subtitle class="card-subtitle">
          <div>
            <span>Mariela Bustamante - Hace 1 Mes</span>
          </div>
          <div>
            <mat-icon>description</mat-icon>
            <span>3</span>
          </div>
        </mat-card-subtitle>
        <mat-card-title>Planificación de Matemática para 3ro básico</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et amet molestias cumque, neque fuga dignissimos saepe ipsa expedita maxime laborum natus praesentium accusamus veniam quidem delectus. Ullam molestiae facere quae.
        </mat-card-content>
        <div class="card-footer">
          <mat-chip-list class="tags">
            <mat-chip class="academic-level-tag">3ro básico</mat-chip>
            <mat-chip class="subject-tag">Historia, geografía y ciencias sociales</mat-chip>
            <mat-chip class="axis-tag">Formación ciudadana</mat-chip>
          </mat-chip-list>
          <div class="reactions">
            <div>
              <mat-icon>favorite</mat-icon>
              <span>8 Me gusta</span>
            </div>
            <div>
              <mat-icon>download</mat-icon>
              <span>13 Descargas</span>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </section>
  <section class="top-section">
    <div class="top-recent-header">
      <mat-icon>schedule</mat-icon>
      <h4>Las más recientes</h4>
    </div>
    <div class="ranking">
      <mat-card class="card">
        <mat-card-subtitle class="card-subtitle">
          Mariela Bustamante - Hace 1 Mes
          <div>
            <mat-icon>description</mat-icon>
            3
          </div>
        </mat-card-subtitle>
        <mat-card-title>Planificación de Matemática para 3ro básico</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et amet molestias cumque, neque fuga dignissimos saepe ipsa expedita maxime laborum natus praesentium accusamus veniam quidem delectus. Ullam molestiae facere quae.
        </mat-card-content>
        <div class="card-footer">
          <mat-chip-list class="tags">
            <mat-chip class="academic-level-tag">3ro básico</mat-chip>
            <mat-chip class="subject-tag">Historia, geografía y ciencias sociales</mat-chip>
            <mat-chip class="axis-tag">Formación ciudadana</mat-chip>
          </mat-chip-list>
          <div class="reactions">
            <div>
              <mat-icon>favorite</mat-icon>
              <span>8 Me gusta</span>
            </div>
            <div>
              <mat-icon>download</mat-icon>
              <span>13 Descargas</span>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card class="card">
        <mat-card-subtitle class="card-subtitle">
          Mariela Bustamante - Hace 1 Mes
          <div>
            <mat-icon>description</mat-icon>
            3
          </div>
        </mat-card-subtitle>
        <mat-card-title>Planificación de Matemática para 3ro básico</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et amet molestias cumque, neque fuga dignissimos saepe ipsa expedita maxime laborum natus praesentium accusamus veniam quidem delectus. Ullam molestiae facere quae.
        </mat-card-content>
        <div class="card-footer">
          <mat-chip-list class="tags">
            <mat-chip class="academic-level-tag">3ro básico</mat-chip>
            <mat-chip class="subject-tag">Historia, geografía y ciencias sociales</mat-chip>
            <mat-chip class="axis-tag">Formación ciudadana</mat-chip>
          </mat-chip-list>
          <div class="reactions">
            <div>
              <mat-icon>favorite</mat-icon>
              <span>8 Me gusta</span>
            </div>
            <div>
              <mat-icon>download</mat-icon>
              <span>13 Descargas</span>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </section>
</main>
