<nav class="navbar">
    <button mat-raised-button [routerLink]="['/auth/login']">
        <mat-icon>login</mat-icon>
        Iniciar Sesión
    </button>
</nav>

<main class="main">
    <div class="logo">
      <button mat-raised-button [routerLink]="'/'">
        Planishare
      </button>
    </div>
    
    <div class="container">
        <mat-card class="card">
            <mat-card-title class="card-title">Registrarse</mat-card-title>
            <!-- <mat-card-title>Registrate para poder crear publicaciones, dar likes y mucho más, anímate!</mat-card-title> -->
            <mat-card-content>
                <form class="form" [formGroup]="form" (ngSubmit)="registerWithEmailAndPassword($event)">
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput formControlName="email">
                      <mat-error *ngIf="emailControl?.invalid">{{ getEmailErrorMessage() }}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" [ngClass]="passwordControl?.invalid? 'm-b-8': 'm-b-0'">
                      <mat-label>Contraseña</mat-label>
                      <input [type]="hidePassword? 'password' : 'text'" matInput formControlName="password">
                      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon *ngIf="hidePassword">visibility</mat-icon>
                        <mat-icon *ngIf="!hidePassword">visibility_off</mat-icon>
                      </button>
                      <mat-error *ngIf="passwordControl?.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Repetir contraseña</mat-label>
                      <input [type]="hideRepeatPassword? 'password' : 'text'" matInput formControlName="repeatPassword">
                      <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword">
                        <mat-icon *ngIf="hideRepeatPassword">visibility</mat-icon>
                        <mat-icon *ngIf="!hideRepeatPassword">visibility_off</mat-icon>
                      </button>
                      <mat-error *ngIf="repeatPasswordControl?.invalid">{{ getRepeatPasswordErrorMessage() }}</mat-error>
                    </mat-form-field>
        
                    <div class="flex_center_center gap-05 m-b-8">
                      <mat-icon>info</mat-icon>
                      <span>Tip: Si te registras con Google no tendrás que verificar tu cuenta.</span>
                    </div>

                    <div class="buttons">
                        <button mat-raised-button class="register-button" type="submit" *ngIf="!isLoading">
                            <mat-icon>person_add</mat-icon>
                            Registrarse
                        </button>
                        <app-square-loader *ngIf="isLoading"></app-square-loader>
                        <span>o</span>
                        <button mat-stroked-button type="button" (click)="loginWithGoogle()">
                          <mat-icon>login</mat-icon>
                          Continuar con Google
                        </button>
                    </div>
                  </form>
            </mat-card-content>
        </mat-card>
    </div>
</main>

