<main class="container m-b-2 h-100 grid-center-center">
  <div class="register-card rounded-card flex-column-center">
    <img class="max-h-10" src="/assets/icons/icon-72x72.png" alt="Ícono de Planishare" *ngIf="(windowResize.isDesktop$)|async">
    <h1 class="fs-x-large">Registrarse</h1>
    <p class="fw-500 text-center">Registrate para dar me gusta a publicaciones y subir planificaciones 🙌</p>

    <form [formGroup]="form" (ngSubmit)="registerWithEmailAndPassword($event)" class="w-100 m-t-05">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.errors!['required']">
          Debes ingresar un email
        </mat-error>
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.errors!['email']">
          Debes ingresar un email válido
        </mat-error>
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.errors!['alreadyUsed']">
          Ya existe una cuenta registrada con este email 👀
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" formControlName="password"
          [type]="showPassword? 'text' : 'password'">
        <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword">
          <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
          <mat-icon *ngIf="!showPassword">visibility</mat-icon>
        </button>
        <mat-error *ngIf="form.controls.password.invalid && form.controls.password.errors!['required']">
          Debes ingresar una contraseña
        </mat-error>
        <mat-error *ngIf="form.controls.password.invalid && form.controls.password.errors!['minLength']">
          Debes ingresar una contraseña con almenos 8 carácteres
        </mat-error>
        <mat-error *ngIf="form.controls.password.invalid && form.controls.password.errors!['pattern']">
          Debes ingresar una contraseña con almenos una letra y un número
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Repetir contraseña</mat-label>
        <input matInput placeholder="Repetir contraseña" formControlName="passwordConfirmation"
          [type]="showPasswordConfirmation? 'text' : 'password'">
        <button mat-icon-button matSuffix type="button" (click)="showPasswordConfirmation = !showPasswordConfirmation">
          <mat-icon *ngIf="showPasswordConfirmation">visibility_off</mat-icon>
          <mat-icon *ngIf="!showPasswordConfirmation">visibility</mat-icon>
        </button>
        <mat-error *ngIf="form.controls.passwordConfirmation.invalid && form.controls.passwordConfirmation.errors!['required']">
          Debes repetir la contraseña
        </mat-error>
        <mat-error *ngIf="form.controls.passwordConfirmation.invalid && form.controls.passwordConfirmation.errors!['notSame']">
          Las contraseñas ingresadas no coinciden
        </mat-error>
      </mat-form-field>

      <div class="flex-column-center m-t-05">
        <button mat-raised-button type="submit" color="primary" class="w-100"
        *ngIf="!isLoading" @inOutRight>
          Registrarse
          <mat-icon class="fs-medium">person_add</mat-icon>
        </button>
        <div class="shapes-loader" *ngIf="isLoading" @inOutLeft></div>
      </div>
    </form>

    <div class="flex-column-center m-t-05 gap-05 w-100">
      <button mat-stroked-button color="primary" (click)="loginWithGoogle()" class="w-100"
      *ngIf="!isLoadingGoogle" @inOutRight>
        Continuar con Google
        <img class="inline-block m-l-025" src="/assets/icons/icon-google.svg" alt="Google icon">
      </button>
      <div class="shapes-loader" *ngIf="isLoadingGoogle" @inOutLeft></div>

      <div class="w-100 flex-center-center gap-05">
        <mat-divider class="w-30"></mat-divider>
        <span>o</span>
        <mat-divider class="w-30"></mat-divider>
      </div>

      <a mat-raised-button [routerLink]="['/auth/login']" class="w-100 text-white bg-blue-dark">
        Iniciar sesión
        <mat-icon class="fs-medium">login</mat-icon>
      </a>
    </div>
  </div>
</main>