<!--
    pdf
    url: !mobile
    * pdf: !safari (google) !mobile (google)
    google: slow
 -->

<!-- 
    docx
    url: download
    google: :)
    * office: :) mobile(not responsive)
 -->

<!-- 
    pptx
    google: :)
    * office: :)
 -->

<!-- 
    xlsx
    google: show like img
    * office: 
 -->

<main class="main">
    <!-- Card -->
    <div class="left-section">
        <button mat-raised-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            <span>Volver a resultados</span>
        </button>

        <mat-card class="card" *ngIf="!!post && !isLoading">
            <div class="flex_column gap-05">
                <div class="flex_between_center">
                    <div>
                        <div class="flex_start_center gap-05 time-data">
                            <mat-icon>schedule</mat-icon>
                            <span>
                                Hace {{ post.created_at|timeAgo }} por
                                {{ post.user|getUsername }}
                                <br>
                                <span>
                                    {{ post.user.education?.name }}
                                </span>
                                <span *ngIf="post.user.education?.name && post.user.institution?.name">
                                    en {{ post.user.institution?.name }}
                                </span>
                            </span>
                        </div>
                    </div>
                    <button mat-icon-button (click)="toggleLike(post)">
                        <mat-icon *ngIf="!!post.already_liked">favorite</mat-icon>
                        <mat-icon *ngIf="!!!post.already_liked">favorite_outline</mat-icon>
                    </button>
                </div>
        
                <mat-card-title>{{ post.title }}</mat-card-title>
                <div>{{ post.description }}</div>
        
                <mat-chip-list class="flex_start_center flex_wrap">
                    <mat-chip class="academic-level-tag">
                        <span>Nivel académico: {{ post.academic_level.name }}</span>
                    </mat-chip>
                    <mat-chip class="subject-tag">
                        <span>Asignatura: {{ post.axis.subject.name }}</span>
                    </mat-chip>
                    <mat-chip class="axis-tag">
                        <span>Eje: {{ post.axis.name }}</span>
                    </mat-chip>
                </mat-chip-list>
        
                <div class="flex_start_center gap-05">
                    <mat-icon>description</mat-icon>
                    <span>{{ (post.suporting_material?.length ?? 0) + 1 }} Documentos</span>
                </div>
                <div class="flex_column gap-05">
                    <div
                        class="document"
                        (click)="viewDocument(post.main_file); scroll(viewerEl)"
                        unselectable="on"
                        matRipple
                        [ngClass]="post.main_file === currentDocUrl ? (post.main_file|getDocType:docTypes)+'-style' : ''">
                        <span>{{ post.main_file|getDocName }}</span>

                        <button
                            (click)="download(post.main_file)"
                            mat-flat-button
                            class="download-button {{ post.main_file|getDocType:docTypes }}-style">
                                <span>.{{ post.main_file|getDocType:docTypes }}</span>
                                <mat-icon>download</mat-icon>
                        </button>
                    </div>
                    <div
                        class="document"
                        *ngFor="let doc of post.suporting_material"
                        (click)="viewDocument(doc); scroll(viewerEl)"
                        unselectable="on"
                        matRipple
                        [ngClass]="doc === currentDocUrl ? (doc|getDocType:docTypes)+'-style' : ''">
                        <span>{{ doc|getDocName }}</span>

                        <button
                            (click)="download(doc)"
                            mat-flat-button
                            class="download-button {{ doc|getDocType:docTypes }}-style">
                                <span>.{{ doc|getDocType:docTypes }}</span>
                                <mat-icon>download</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="flex_between_center">
                    <div class="flex_start_center gap-05">
                        <mat-icon>favorite</mat-icon>
                        <span>{{ post.likes }} Me gusta</span>
                    </div>
                    <div class="flex_start_center gap-05">
                        <mat-icon>visibility</mat-icon>
                        <span>{{ post.views }} Visitas</span>
                    </div>
                </div>
            </div>
        </mat-card>

        <!-- Shimmer -->
        <app-post-detail-card-shimmer *ngIf="isLoading"></app-post-detail-card-shimmer>

        <div #viewerEl></div>
    </div>

    <!-- Doc preview -->
    <ngx-doc-viewer
        *ngIf="!isLoading"
        class="doc-preview"
        [url]="currentDocUrl"
        [viewer]="currentViewer"
    ></ngx-doc-viewer>

    <!-- Shimmer -->
    <!-- TODO: Fix width and height -->
    <!-- <ngx-shimmer-loading height="90vh" width="100%" class="doc-shimmer" *ngIf="isLoading"></ngx-shimmer-loading> -->
</main>