<h1 mat-dialog-title>Buscar</h1>
<div class="dialog-content">
  <form class="search-form">
    <mat-form-field class="search-field" appearance="outline">
      <mat-label>Busqueda</mat-label>
      <input matInput type="text" autocomplete="off" [formControl]="searchControl">
      <button *ngIf="searchControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
    <div class="filters" [ngClass]="{'flex_column': isMobile}">
      <app-rounded-select-search
        class="filter"
        [list]="academicLevelsList"
        [control]="academicLevelControl"
        [loading]="isAcademicLevelsLoading"
        buttonText="Nivel Académico"
        bgColor="var(--primary-color)"
        textColor="var(--light-text)"
        placeholder="Buscar nivel académico">
      </app-rounded-select-search>
      <app-rounded-select-search
        class="filter"
        [list]="subjectList"
        [control]="subjectControl"
        [loading]="isSubjectsLoading"
        buttonText="Asignatura"
        bgColor="var(--warn-color)"
        textColor="var(--light-text)"
        placeholder="Buscar asignatura">
      </app-rounded-select-search>
      <app-rounded-select-search
        class="filter"
        [list]="axesList"
        [control]="axisControl"
        [loading]="isaxesLoading"
        buttonText="Eje"
        bgColor="var(--purple-color)"
        textColor="var(--light-text)"
        placeholder="Buscar eje">
      </app-rounded-select-search>
    </div>
    <div mat-dialog-actions class="actions-section">
      <button mat-raised-button [disabled]="form.invalid" color="accent" (click)="makeSearch($event)">Ver resultados</button>
    </div>
  </form>
</div>