.search-field {
    display: block;
}

.filters {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.actions-section {
    display: grid;
    place-items: center;

    button {
        border-radius: 30px;
    }
}

.academic-level-select, .subject-select, .axis-select {
    width: 100%;
}