.search-field {
    width: 100%;
}

.filters {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.filter {
    width: 100%;
}

.actions-section {
    display: grid;
    place-items: center;

    button {
        border-radius: 30px;
    }
}