<div class="rounded-card flex-column flex-space_between gap-07">
  <div class="flex-space_between-center">
    <div class="shimmer-text-regular grow-1"></div>
    <mat-icon class="shimmer-text-color">more_vert</mat-icon>
  </div>

  <div>
    <div class="shimmer-text-large"></div>
    <div class="shimmer-text-regular"></div>
    <div class="shimmer-text-regular w-40"></div>
  </div>

  <div class="flex-space_between-center">
    <div class="flex-start-center gap-025 w-50">
      <mat-icon class="shimmer-text-color">description</mat-icon>
      <div class="shimmer-text-regular grow-1"></div>
    </div>

    <div class="flex-end-center gap-025 w-50">
      <div class="shimmer-text-regular w-20"></div>
      <div class="shimmer-text-regular w-20"></div>
    </div>
  </div>

  <div class="flex-space_between-center gap-025 w-100">
    <div class="shimmer-text-large w-30"></div>
    <div class="shimmer-text-large w-30"></div>
    <div class="shimmer-text-large w-30"></div>
  </div>

  <div class="flex-space_between-center gap-1">
    <div class="flex-center-center gap-1 grow-1">
      <div class="flex-center-center gap-025 w-100">
        <mat-icon class="small-icon shimmer-text-color">favorite_outline</mat-icon>
        <div class="shimmer-text-regular grow-1"></div>
      </div>
      <div class="flex-center-center gap-025 w-100">
        <mat-icon class="small-icon shimmer-text-color">visibility</mat-icon>
        <div class="shimmer-text-regular grow-1"></div>
      </div>
    </div>

    <mat-icon class="shimmer-text-color">favorite</mat-icon>
  </div>
</div>