// Flex
.flex,
.flex-center-center,
.flex-space_between-center,
.flex-start-center,
.flex-end-center,
.flex-column,
.flex-column-center,
.flex-wrap
{
    display: flex;
}

.flex-center-center {
    justify-content: center;
    align-items: center;
}

.flex-start-center {
    justify-content: flex-start;
    align-items: center;
}

.flex-end-center {
    justify-content: flex-end;
    align-items: center;
}

.flex-space_between-center {
    justify-content: space-between;
    align-items: center;
}

.flex-space_between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-column-center {
    flex-direction: column;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

// Gap
.gap-025 {
    gap: .25rem;
}

.gap-05 {
    gap: .5rem;
}

.gap-07 {
    gap: .7rem;
}

.gap-1 {
    gap: 1rem;
}

@media (min-width: 48rem) {
    .gap-1-lg {
        gap: 1rem;
    }
}

.grow-1 {
    flex-grow: 1;
}

// Grid
.grid,
.grid-center-center {
    display: grid;
}

.grid-center-center {
    place-content: center;
}

// Other display
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}