// START flex
// .flex,
// .flex_wrap,
// .flex_end,
// .flex_column,
// .flex_column_start,
// .flex_column_end,
// .flex_center,
// .flex_between,
// .flex_between_center,
// .flex_start_center,
// .flex_end_center,
// .flex_justify_end,
// .flex_justify_center,
// .flex_center_center,
// .flex_start {
//   display: flex;
// }

.flex_wrap {
  flex-wrap: wrap;
}

// .flex_start {
//   align-items: flex-start;
// }

// .flex_center {
//     align-items: center;
// }

// .flex_end {
//   align-items: flex-end;
// }

.flex_column {
  flex-direction: column;
}

// .flex_column_start {
//   flex-direction: column;
//   align-items: flex-start;
// }

// .flex_column_end {
//   flex-direction: column;
//   align-items: flex-end;
// }

.flex_between {
  justify-content: space-between;
}

// .flex_between_center {
//   justify-content: space-between;
//   align-items: center;
// }

// .flex_start_center {
//   justify-content: flex-start;
//   align-items: center;
// }

// .flex_end_center {
//   justify-content: flex-end;
//   align-items: center;
// }

.flex_justify_end {
  justify-content: flex-end;
}

// .flex_justify_center {
//   justify-content: center;
// }

// .flex_center_center {
//   justify-content: center;
//   align-items: center;
// }

// .flex-grow-1 {
//   flex: 1;
// }

// .flex-shrink-0 {
//   flex-shrink: 0;
// }

// .flex_self_start {
//   align-self: start;
// }

// .flex_inline {
//   display: inline-flex;
// }

// Start others
.gap-1 {
  gap: 1rem;
}