.outline, .outline > * {
    outline: 1px solid mediumturquoise;
}

.container {
    max-width: 90rem;
    padding-inline: clamp(2px, 2px + 1.5vw, 2rem);
    margin-inline: auto;
}

.container-row {
    @extend .container;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

@media (min-width: 48rem) {
    .container-row {
        flex-wrap: nowrap;
    }
}

.p-l-container {
    padding-left: min(5vw, 2rem);
}

.uppercase { text-transform: uppercase; }
.text-center { text-align: center; }
.text-ellipsis {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.reset-link-style {
    text-decoration: inherit;
    color: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
