<h1>¿Olvidaste tu contraseña?</h1>
<p>Te enviaremos un email con un enlace para que puedas cambiarla</p>
<div class="flex_column flex_center">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="email">
        <mat-error *ngIf="email?.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <app-square-loader *ngIf="isLoading"></app-square-loader>
    <button
        mat-raised-button
        [disabled]="!email.valid"
        (click)="resetPassword()"
        *ngIf="!isLoading">Restablecer contraseña</button>
</div>