.banner__text {
    text-align: center;
}

.banner__image {
    max-width: 100%;
}

@media(min-width: 48rem)  {
    .banner {
        flex-direction: row;
    }

    .banner__text {
        text-align: unset;
    }

    .banner__action-button {
        width: fit-content;
    }

    .banner__image {
        max-width: 40%;
    }
}

@media(min-width: 64rem)  {
    .banner__text {
        max-width: 70ch;
    }
}

.demo-gif {
    border-radius: 20px;
    border: 5px var(--clr-primary) solid;
    background-color: var(--clr-primary);
}
