<main class="hero container">
  <div class="hero__text">
    <h1 class="fs-xx-large fw-600 text-blue-dark text-shadow-1">Busca y comparte planificaciones de enseñanza básica</h1>
    <a class="rounded-button fs-medium fw-600 box-shadow-2" matRipple [routerLink]="['/', 'posts', 'list']" @inOutY>
      <span>Ver planificaciones</span>
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </div>
  <div class="hero__img">
    <picture>
      <source srcset="/assets/images/homepage_hero.png" media="(min-width: 48rem)">
      <img src="/assets/images/homepage_hero-mobile.png" alt="Ilustración compartiendo archivos">
    </picture>
  </div>
</main>