// Loader from https://cssloaders.github.io/

// Replace 1 for change size

:host {
    display: flex;
}

.loader {
    width: calc(200px * 1);
    height: calc(140px * 1);
    background: #979794;
    box-sizing: border-box;
    position: relative;
    border-radius: calc(8px * 1);
    perspective: calc(1000px * 1);
}

.loader:before {
    content: '';
    position: absolute;
    left: calc(10px * 1);
    right: calc(10px * 1);
    top: calc(10px * 1);
    bottom: calc(10px * 1);
    border-radius: calc(8px * 1);
    background: #fff no-repeat;
    background-size: calc(60px * 1) calc(10px * 1);
    background-image: linear-gradient(#ddd calc(100px * 1), transparent 0),
        linear-gradient(#ddd calc(100px * 1), transparent 0),
        linear-gradient(#ddd calc(100px * 1), transparent 0),
        linear-gradient(#ddd calc(100px * 1), transparent 0),
        linear-gradient(#ddd calc(100px * 1), transparent 0),
        linear-gradient(#ddd calc(100px * 1), transparent 0);

    background-position: calc(15px * 1) calc(30px * 1), calc(15px * 1) calc(60px * 1), calc(15px * 1) calc(90px * 1),
        calc(105px * 1) calc(30px * 1), calc(105px * 1) calc(60px * 1), calc(105px * 1) calc(90px * 1);
    box-shadow: 0 0 calc(10px * 1) rgba(0, 0, 0, 0.25);
}

.loader:after {
    content: '';
    position: absolute;
    width: calc(50% - calc(10px * 1));
    right: calc(10px * 1);
    top: calc(10px * 1);
    bottom: calc(10px * 1);
    border-radius: calc(8px * 1);
    background: #fff no-repeat;
    background-size: calc(60px * 1) calc(10px * 1);
    background-image:
        linear-gradient(#ddd calc(100px * 1), transparent 0),
        linear-gradient(#ddd calc(100px * 1), transparent 0),
        linear-gradient(#ddd calc(100px * 1), transparent 0);
    background-position: 50% calc(30px * 1), 50% calc(60px * 1), 50% calc(90px * 1);
    transform: rotateY(0deg);
    transform-origin: left center;
    animation: paging 1s linear infinite;
}


@keyframes paging {
    to {
        transform: rotateY(-180deg);
    }
}