// ngx-mat-select-search tablet and mobile fix
@media (max-width: calc(48rem - 1px)) {
    .mat-select-search-input {
        padding: 0 0 0 16px !important;
    }
    .mat-select-search-inner {
        width: 100%;
    }
    .mat-select-panel {
        max-width: 80vw !important;
    }
}

@media (max-height: 32rem) and (max-width: calc(64rem - 1px)) {
    .cdk-overlay-pane {
        position: static;
    }
    .cdk-overlay-connected-position-bounding-box {
        align-items: center;
        justify-content: space-around;
    }
}

// Material icons
.small-icon.mat-icon {
    width: var(--fs-medium);
    height: 100%;
    font-size: var(--fs-medium);
}

.mat-menu-item > .mat-icon {
    height: 100%;
}

// Material buttons
.mat-stroked-button,
.mat-flat-button,
.mat-raised-button {
    border-radius: 100px !important;

    .mat-icon {
        height: 100%;
    }
}

.mat-stroked-button:hover,
.mat-flat-button:hover,
.mat-raised-button:hover {
    opacity: .9;
}

// Material dialogs
.mat-dialog-container {
    border-radius: 15px !important;
}

@media (min-width: 48rem) {
    .mat-dialog-container {
        border-radius: 18px !important;
    }
}