<!-- Filter tags and pagination -->
<div class="fs-small flex-end-center flex-wrap gap-05">
  <!-- Filter tags -->
  <div class="filter-tags flex-center-center gap-025 flex-wrap">
    <button *ngIf="!!currentFilters?.search" @inOutLeft (click)="removeFilterByName('search')"
      matRipple class="rounded-button-slim">
      <mat-icon class="small-icon">search</mat-icon>
      <span>{{ (currentFilters?.search ?? '')|truncate:20 }}</span>
      <mat-icon class="small-icon" aria-label="Remover">close</mat-icon>
    </button>
    <button *ngIf="!!currentFilters?.academicLevel" @inOutLeft (click)="removeFilterByName('academicLevel')" matRipple
      class="rounded-button-slim bg-text-academic-level">
      <span>{{ currentFilters?.academicLevel?.name }}</span>
      <mat-icon class="small-icon" aria-label="Remover">close</mat-icon>
    </button>
    <button *ngIf="!!currentFilters?.axis" @inOutLeft (click)="removeFilterByName('axis')" matRipple
      class="rounded-button-slim bg-text-axis">
      <span>{{ currentFilters?.axis?.name }}</span>
      <mat-icon class="small-icon" aria-label="Remover">close</mat-icon>
    </button>
    <button *ngIf="!!currentFilters?.subject" @inOutLeft (click)="removeFilterByName('subject')" matRipple
      class="rounded-button-slim bg-text-subject">
      <span>{{ currentFilters?.subject?.name }}</span>
      <mat-icon class="small-icon" aria-label="Remover">close</mat-icon>
    </button>
    <button *ngIf="!!currentFilters?.ordering && currentFilters?.ordering?.id !== orderingType.MOST_RECENT" @inOutLeft
      (click)="removeFilterByName('ordering')" matRipple class="rounded-button-slim bg-text-blue-white">
      <mat-icon class="small-icon">sort</mat-icon>
      <span>{{ currentFilters?.ordering?.name }}</span>
      <mat-icon class="small-icon" aria-label="Remover">close</mat-icon>
    </button>
  </div>

  <!-- Pagination -->
  <div class="pagination flex-center-center gap-05">
    <span class="fw-700 fs-regular" *ngIf="!loading && !!pageResults?.count" @inOutRight>
      {{ pageResults?.count + (pageResults?.count === 1 ? ' resultado' : ' resultados') }}
    </span>
    <span class="fw-700 fs-regular" *ngIf="!loading && !pageResults?.count" @inOutRight>
      Sin resultados
    </span>
    
    <div class="flex-center-center gap-025">
      <button class="circle-button" (click)="previousPage()" [disabled]="!pageResults?.previous || loading"
        aria-label="Pág. Anterior" matRipple>
        <mat-icon class="small-icon">navigate_before</mat-icon>
      </button>
      <button class="circle-button page-number" [matMenuTriggerFor]="pagesMenu" aria-label="Seleccionar Pág."
        matRipple [disabled]="loading || !posts.length">
        <span class="fw-700">{{ currentFilters?.page ?? 1 }}</span>
      </button>
      <mat-menu #pagesMenu>
        <button mat-menu-item *ngFor="let page of (pageResults?.maxPage ?? 1)|fillArray" (click)="changePageByNumber(page)">
          {{ page }}
        </button>
      </mat-menu>
      <button class="circle-button" (click)="nextPage()" [disabled]="!pageResults?.next || loading"
        aria-label="Pág. Siguiente" matRipple>
        <mat-icon class="small-icon">navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- Post grid -->
<section class="posts-grid" *ngIf="!loading && posts.length" @fadeInOut>
  <ng-container *ngFor="let post of posts; trackBy: postTrackBy">
    <app-post-card [post]="post" [urlQueryParams]="urlQueryParams ?? {}" [isOwner]="authUser?.id === post.user.id"
      (report)="report(post)" (delete)="deletePost(post)"></app-post-card>
  </ng-container>
</section>

<!-- Post shimmer grid -->
<div class="posts-grid" *ngIf="loading" @fadeInOut>
  <app-post-card-shimmer *ngFor="let post of 5|fillArray; trackBy: shimmerTrackBy"></app-post-card-shimmer>
</div>

<!-- No results -->
<div class="flex-column flex-center-center text-center gap-05 m-t-2" *ngIf="!loading && !posts.length" @fadeInOut>
  <img class="no-results-image" src="assets/images/no-results.png" alt="Perdido en el espacio">
  <p class="fs-medium fw-700">No se han encontrado resultados</p>
  <p class="fw-700">Aún nadie ha creado una publicación con tus parámetros de búsqueda 😅</p>
</div>