:host {
    display: block;

    background-image: url('/assets/images/bg-desktop-light-purple.png');
    background-size: contain;

    padding: 4rem 4rem 1rem 4rem;
    
    min-height: calc(100% - 4rem - 1rem); // 4rem = navbar height
}

.main-card {
    padding: 2rem;

    .mat-card-title {
        margin: 1rem 0;
    }
}

.card-content {
    display: flex;
    gap: 1rem;
}

.profile-form {
    width: 100%;
}

.form-field {
    display: block;
}

.info-card {
    margin-top: 0.5rem;
    padding: 1rem;

    border-radius: 10px;
    background-color: rgba($color: #AF63FF, $alpha: 0.2);
}

.form-shimmer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    width: 100%;
}

// Mobile
@media (max-width: 48rem) {
    :host {
        padding: 4rem 1rem 1rem 1rem;
    }

    .card-content {
        flex-wrap: wrap;
    }

    .main-card {
        padding: 1rem;
    }
}