// Material custom theme
@import './assets/styles/material/material-theme';
@import './assets/styles/index';

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: var(--fs-regular);
}
