// Padding
.p-y-1 {
    padding-block: 1rem;
}

.p-y-3 {
    padding-block: 3rem;
}

// Margin
.m-x-auto {
    margin-inline: auto;
}

// Width
.w-fit-content {
    width: fit-content;
}