// Padding
.p-05 {
    padding: .5rem;
}

.p-y-1 {
    padding-block: 1rem;
}

.p-y-3 {
    padding-block: 3rem;
}

// Margin
.m-x-auto {
    margin-inline: auto;
}

.m-t-1 {
    margin-top: 1rem;
}

.m-t-3 {
    margin-top: 3rem;
}

.m-t-05 {
    margin-top: .5rem;
}

.m-y-05 {
    margin-block: .5rem;
}

@media (min-width: 64rem) {
    .lg-m-b-1 {
        margin-bottom: 1rem;
    }
    
    .lg-m-t-1 {
        margin-top: 1rem;
    }
}

// Width
.w-fit-content {
    width: fit-content;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-10 {
    width: 10%;
}

.min-w-0 {
    min-width: 0;
}

.max-w-500px {
    max-width: 500px;
}

@media (min-width: 64rem) {
    .lg-max-w-50 {
        max-width: 50%;
    }
}

// Height
.h-100vh {
    height: 100vh;
    height: 100dvh;
}