.flex,
.flex-center-center,
.flex-between-center,
.flex-start-center,
.flex-end-center,
.flex-center-end,
.flex-wrap,
.flex-col {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-center-center {
    align-items: center;
    justify-content: center;
}

.flex-between-center {
    justify-content: space-between;
    align-items: center;
}

.flex-start-center {
    justify-content: start;
    align-items: center;
}

.flex-end-center {
    justify-content: end;
    align-items: center;
}

.flex-center-end {
    justify-content: center;
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

// Gap
.gap-3 {
    gap: 3rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-05 {
    gap: .5rem;
}