.flex,
.flex-between,
.flex-center-center,
.flex-between-center,
.flex-start-center,
.flex-end-center,
.flex-center-end,
.flex-wrap,
.flex-col,
.lg-flex-center-center {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-center-center {
    align-items: center;
    justify-content: center;
}

.flex-between-center {
    justify-content: space-between;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-start-center {
    justify-content: start;
    align-items: center;
}

.flex-end-center {
    justify-content: end;
    align-items: center;
}

.flex-center-end {
    justify-content: center;
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-grow-1 {
    flex-grow: 1;
}

@media (min-width: 64rem) {
    .lg-flex-center-center {
        align-items: center;
        justify-content: center;
    }

    .lg-flex-row {
        flex-direction: row;
    }

    .lg-flex-between-center {
        align-items: center;
        justify-content: space-between;
    }
}

// Gap
.gap-0 {
    gap: 0;
}

.gap-3 {
    gap: 3rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-05 {
    gap: .5rem;
}

.gap-025 {
    gap: .25rem;
}