button {
    border-radius: 10px;
}

.search-button {
    // display: flex;
    // justify-content: flex-start;
}

.simple-icon {
    line-height: normal;
    min-width: auto;
    padding: 0.2em 0.5em;
}