<main class="container">
    <app-posts-filters
        [filters]="filters"
        [options]="options"
        (filtersChange)="changeFilters($event)"
    ></app-posts-filters>
    <div>
        <app-paginated-filter-status
            [pageResults]="posts"
            [filters]="filters"
            [loading]="loading"
            (changePage)="changePage($event)">
        </app-paginated-filter-status>

        <section>
            <p *ngIf="loading">Cargando...</p>
            <ul class="ul-style-none" *ngIf="!loading">
                <li *ngFor="let post of posts?.results">
                    <app-post-card
                        [post]="post"
                        [ownPost]="post.user.id === authUser?.id"
                        [loading]="loading"
                    ></app-post-card>
                </li>
            </ul>
        </section>
    </div>
</main>