<main class="container flex-col lg-flex-row gap-05 bg-background p-y-1">
    <app-posts-filters
        [filters]="filters"
        [options]="options"
        (filtersChange)="changeFilters($event)"
    ></app-posts-filters>
    
    <section class="w-100">
        <div
            class="gap-1 flex-wrap flex-col flex-center-end lg-flex-row lg-flex-between-center">
            <app-post-filter-tags
                [filters]="optionsLoading ? undefined : filters"
                (filtersChange)="changeFilters($event)"
            ></app-post-filter-tags>
            <app-pagination-status
                [pageResults]="posts"
                [filters]="filters"
                [loading]="loading"
                (changePage)="changePage($event)">
            </app-pagination-status>
        </div>
        <ul class="ul-style-none posts-grid gap-05 m-t-1">
            <ng-container *ngIf="!loading">
                <li *ngFor="let post of posts?.results">
                    <app-post-card
                        [post]="post"
                        [ownPost]="post.user.id === authUser?.id"
                        [loading]="loading"
                    ></app-post-card>
                </li>
            </ng-container>
            <ng-container *ngIf="loading">
                <app-post-card-shimmer></app-post-card-shimmer>
                <app-post-card-shimmer></app-post-card-shimmer>
                <app-post-card-shimmer></app-post-card-shimmer>
                <app-post-card-shimmer></app-post-card-shimmer>
                <app-post-card-shimmer></app-post-card-shimmer>
            </ng-container>
        </ul>
    </section>
</main>